<app-header></app-header>
<router-outlet></router-outlet>

<!-- <app-modal></app-modal> -->

<!-- <button (click)="showModal()">Open Modal</button>

<div class="modal" [ngClass]="{ active: modalActive }">
  <div
    class="modal-content-wrapper"
    [ngClass]="{
      'animate__animated animate__slideInUp': opening,
      animate__slideOutDown: closing
    }"
  >
    <div class="modal-content">
      <div>hello</div>
      <button (click)="closeModal()">Close Modal</button>
    </div>
  </div>
</div> -->