.modal {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0px;
    right: 0px;  
  }
  
  .modal.active{
    display: block;
  }
  
  .modal .modal-content-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
  }
  
  .modal .modal-content{  
    width: 500px;
    background: white;  
    padding: 20px;
    border-radius: 5px;
  }